<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EZD iTS DEV.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>83</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>049F87356CDAB2FD6085C0C70209AD52F85645B9</string>
				<key>dateExpires</key>
				<string>23.01.2025</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>049F87356CDAB2FD6085C0C70209AD52F85645B9</string>
						<key>dateExpires</key>
						<string>23.01.2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8J8CUXWK9</string>
						<key>name</key>
						<string>adesso Turkey Bilgi Teknolojileri Ltd Sti</string>
					</dict>
					<key>versionNumber</key>
					<string>2.15.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>049F87356CDAB2FD6085C0C70209AD52F85645B9</string>
						<key>dateExpires</key>
						<string>23.01.2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSS3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8J8CUXWK9</string>
						<key>name</key>
						<string>adesso Turkey Bilgi Teknolojileri Ltd Sti</string>
					</dict>
					<key>versionNumber</key>
					<string>2.15.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>049F87356CDAB2FD6085C0C70209AD52F85645B9</string>
						<key>dateExpires</key>
						<string>23.01.2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BitByteData.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8J8CUXWK9</string>
						<key>name</key>
						<string>adesso Turkey Bilgi Teknolojileri Ltd Sti</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>049F87356CDAB2FD6085C0C70209AD52F85645B9</string>
						<key>dateExpires</key>
						<string>23.01.2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8J8CUXWK9</string>
						<key>name</key>
						<string>adesso Turkey Bilgi Teknolojileri Ltd Sti</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>049F87356CDAB2FD6085C0C70209AD52F85645B9</string>
						<key>dateExpires</key>
						<string>23.01.2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8J8CUXWK9</string>
						<key>name</key>
						<string>adesso Turkey Bilgi Teknolojileri Ltd Sti</string>
					</dict>
					<key>versionNumber</key>
					<string>6.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>049F87356CDAB2FD6085C0C70209AD52F85645B9</string>
						<key>dateExpires</key>
						<string>23.01.2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JTCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8J8CUXWK9</string>
						<key>name</key>
						<string>adesso Turkey Bilgi Teknolojileri Ltd Sti</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>049F87356CDAB2FD6085C0C70209AD52F85645B9</string>
						<key>dateExpires</key>
						<string>23.01.2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8J8CUXWK9</string>
						<key>name</key>
						<string>adesso Turkey Bilgi Teknolojileri Ltd Sti</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>049F87356CDAB2FD6085C0C70209AD52F85645B9</string>
						<key>dateExpires</key>
						<string>23.01.2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PPSSignatureView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8J8CUXWK9</string>
						<key>name</key>
						<string>adesso Turkey Bilgi Teknolojileri Ltd Sti</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>049F87356CDAB2FD6085C0C70209AD52F85645B9</string>
						<key>dateExpires</key>
						<string>23.01.2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SWCompression.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8J8CUXWK9</string>
						<key>name</key>
						<string>adesso Turkey Bilgi Teknolojileri Ltd Sti</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>049F87356CDAB2FD6085C0C70209AD52F85645B9</string>
						<key>dateExpires</key>
						<string>23.01.2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8J8CUXWK9</string>
						<key>name</key>
						<string>adesso Turkey Bilgi Teknolojileri Ltd Sti</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.9011</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>K8J8CUXWK9.com.adesso.EZD.iTS.dev</string>
				<key>com.apple.developer.team-identifier</key>
				<string>K8J8CUXWK9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>EZD iTS DEV.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7829dc29-b463-4d77-9d4b-84a7dc2acbb1</string>
				<key>dateExpires</key>
				<string>19.09.2024</string>
				<key>name</key>
				<string>EZD_iTS_DEV_Distribution</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>K8J8CUXWK9</string>
				<key>name</key>
				<string>adesso Turkey Bilgi Teknolojileri Ltd Sti</string>
			</dict>
			<key>versionNumber</key>
			<string>8.3</string>
		</dict>
	</array>
</dict>
</plist>
